---
title: Our Solution
layout: default

services:
  enable: true
  desc: "Our Services in Detail"
  services:
    - title: "Custom Theme Developement"
      desc_list:
        - "List Item 1"
        - "List Item 2"
        - "List Item 3"
        - "List Item 4"
        - "List Item 5"
      id: "1"
      icon: "icofont-safety"
      image_url: "/assets/images/concept/concept6.png"
      active: true
    - title: "Shopify App Development"
      desc_list:
        - "List Item 1"
        - "List Item 2"
        - "List Item 3"
        - "List Item 4"
        - "List Item 5"
      id: "2"
      icon: "icofont-chart-arrows-axis"
      image_url: "/assets/images/concept/concept6.png"
      active: false
    - title: "Consulting"
      desc_list:
        - "List Item 1"
        - "List Item 2"
        - "List Item 3"
        - "List Item 4"
        - "List Item 5"
      id: "3"
      icon: "icofont-refresh"
      image_url: "/assets/images/concept/concept6.png"
      active: false

our_process:
  enable: true
  title: "Our Process"
  sub_title: "Here are 4 working steps to organize our business projects."
  image: "/assets/images/concept/concept7@2x.png"
  lists:
    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."
    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."
    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."
    - title: "Finalize Product"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

portfolio:
  number: 1
  enable: true
  title: "Our Jobs done"
  sub_title: "Check out what we've done so far"
  projects:
    - title: "Project 1"
      description: "Desc 1"
      image: "/assets/images/clients/client_marlo_laz--detail.png"
      weblink: "https://www.marlolaz.com/"
      facts:
        - title: "Fact 1"
          amount: "100"
        - title: "Fact 1"
          amount: "100"
    - title: "Project 2"
      description: "Desc 2"
      image: "/assets/images/clients/client_rudi_gernreich--detail.png"
      weblink: "https://rudigernreich.com/"
      facts:
        - title: "Fact 2"
          amount: "200"
        - title: "Fact 2"
          amount: "200"


faq_area:
  enable: true
  title: "FAQ"
  sub_title: "Still questions? We got you!"
  faq:
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Which payment methods do you accept?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How can I manage my Account?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Is my credit card information secure?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I get my subscription receipt?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Are there any discounts for people in need?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Do you offer a free trial edit?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I reset my Account password?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."


---

{% if page.services.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">{{ page.services.desc }}</h2>
      <ul class="nav nav-pills nav-tabs nav-tabs-centered d-flex justify-content-center text-center">
        {% for service in page.services.services %}
          <li class="nav-item"> 
            <a class="nav-link {% if service.active %}active{% endif %}" data-toggle="tab" href="#tab3-{{service.id}}">
              <div class="icon color-dark"><i class="{{ service.icon }}"></i></div><span>{{service.title}}</span>
            </a> 
          </li>
        {% endfor  %}
      </ul>
      <!-- /.nav-tabs -->
      <div class="space80"></div>
      <div class="tab-content">
        {% for service in page.services.services %} 
          <div class="tab-pane {% if service.active %}active show{% endif %}" id="tab3-{{service.id}}">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="pr-15 pr-sm-15 h-100">
                  <figure><img src="#" srcset="{{relative_url}}{{ service.image_url }}" alt="" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="col-md-6">
                <div class="pl-15 pl-sm-15 h-100">
                  <h2>{{service.title}}</h2>
                  <ul class="icon-list bullet-blue">
                    {% for item in service.desc_list %}
                      <li><i class="jam jam-check"></i>{{item}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
        {% endfor %}
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
{% endif %}


{% if page.our_process.enable %}
  <div class="divider bg-light">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white-wrapper bg-light"
      preserveAspectRatio="none"
      viewBox="0 0 1070 20.98"
    >
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
    </svg>
  </div>
  <div class="wrapper white-wrapper">
    <div class="container inner text-center">
      {% if page.our_process.title %}
      <h2 class="section-title">{{page.our_process.title}}</h2>
      {% endif %}
      {% if page.our_process.sub_title %}
      <p class="lead larger">{{page.our_process.sub_title}}</p>
      {% endif %}
      <div class="space30"></div>
      <div class="row gutter-60 d-flex align-items-center">
        <div class="col-md-6 col-lg-3 order-lg-1">
          {% for list in page.our_process.lists limit: 2 %}
          <h4>{{forloop.index}}. {{list.title}}</h4>
          <p>{{list.description}}</p>
          {% endfor %}
        </div>
        <!--/column -->
        {% if page.our_process.image %}
        <div class="col-lg-6 order-sm-first order-lg-2">
          <figure><img src="{{page.our_process.image}}" alt="{{page.our_process.title}}"/></figure>
          <div class="space50 d-none d-md-block d-lg-none"></div>
        </div>
        <!--/column -->
        {% endif %}
        <div class="col-md-6 col-lg-3 order-lg-3">
          {% for list in page.our_process.lists limit: 4  %}
          {% if forloop.index > 2%}
          <h4>{{forloop.index}}. {{list.title}}</h4>
          <p>{{list.description}}</p>
          {% endif %}
          {% endfor %}
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
{% endif %}

{% if page.portfolio.enable %}
  <div class="divider bg-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="fill-light-wrapper"
      preserveAspectRatio="none"
      viewBox="0 0 1070 39.07"
    >
      <path d="M1070,39.07H0V21a6818.1,6818.1,0,0,1,1070,0Z" />
    </svg>
  </div>
  <div class="wrapper light-wrapper">
    <div class="container text-center">
      <div class="space40"></div>
      {% if page.portfolio.title %}
      <h2 class="section-title">{{page.portfolio.title}}</h2>
      {% endif %}
      {% if page.portfolio.sub_title %}
      <p class="lead larger">{{page.portfolio.sub_title}}</p>
      {% endif %}
    </div>
    {% for project in page.portfolio.projects %}
      {% assign evenodd = forloop.index | modulo:2 %}

      <div class="container">
        <div class="space80"></div>
        <div class="image-block-wrapper">
          <div class="image-block {% if evenodd == 0 %}col-lg-8{% else %}col-lg-8 offset-lg-4{% endif %}">
            <div class="image-block-bg bg-image" data-image-src="{{ relative_url }}{{ project.image }}"></div>
          </div>
          <!--/.image-block -->
          <div>
            <div class="row no-gutters">
              <div class=" {% if evenodd == 0 %}col-lg-4 offset-lg-8{% else %}col-lg-4{% endif %}">
                <div class="pt-30 pr-50 pl-50 d-flex">
                  <div class="align-self-center">
                    <h2 class="section-title">{{ project.title }}</h2>
                    <p>{{ project.description }} <a href="{{ project.weblink }}" target="_blank">— Check it out —</a></p>
                    <div class="space10"></div>
                    <div class="row counter counter-s">
                      {% for fact in project.facts %}
                        <div class="col-6 text-center">
                          <div class="icon icon-blob icon-blob-dark color-dark d-flex flex-column align-items-center justify-content-center">
                            <h3 class="value color-dark">{{ fact.amount }}</h3>
                            <p><strong>{{ fact.title }}</strong></p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <!--/counters -->
                  </div>
                  <!-- /div -->
                </div>
                <!-- /.box -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/div -->
        </div>
        <!--/.image-block-wrapper -->
      </div>
      <!--/.container -->
    </div>
    <!--/.wrapper -->
    {% endfor %}
    <div class="space40"></div>
    
{% endif %}


{% if page.faq_area.enable %}
  <div class="divider bg-light">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="fill-white-wrapper bg-light"
      preserveAspectRatio="none"
      viewBox="0 0 1070 20.98"
    >
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
    </svg>
  </div>

  <div class="wrapper white-wrapper">
    <div class="space160"></div>
    <div class="container text-center">
      {% if page.faq_area.title %}
        <h2 class="section-title">{{page.faq_area.title}}</h2>
      {% endif %}
      {% if page.faq_area.sub_title %}
        <p class="lead larger">{{page.faq_area.sub_title}}</p>
      {% endif %}
      <div class="space40"></div>
      <div class="row text-left">
        <div class="col-lg-6 mb-0">
          <div id="accordion-1" class="accordion-wrapper">
            {% for faq in page.faq_area.faq  limit: "4" %}
            <div class="card shadow">
              <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-1-{{forloop.index}}">
                  {{faq.question}}
                </button>
                </h5>
              </div>
              <div id="accordion-collapse-1-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
                <div class="card-body">
                  <p>{{faq.answer}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <div id="accordion-2" class="accordion-wrapper">
          {% for faq in page.faq_area.faq  limit: "4" offset: "4" %}
            <div class="card shadow">
              <div class="card-header" id="accordion-heading-2-1">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-{{forloop.index}}">
                  {{faq.question}}
                  </button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
                <div class="card-body">
                  <p>{{faq.answer}}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {% endfor %}
          </div>
          <!-- /.accordion-wrapper -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
    <div class="space80"></div>
  </div>
  <!-- /.wrapper -->
{% endif %}

