<div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper bg-white" preserveAspectRatio="none" viewBox="0 0 1070 39.07">
      <path d="M1070,39.07H0V21a6818.1,6818.1,0,0,1,1070,0Z" /></svg></div>

<!-- Team Wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
      <h3 class="display-3 text-center">{{page.teams_carousel.title}}</h3>
      <div class="space40"></div>
      <div class="grid-view">
        {% include teams_carousel.html %}
      </div>
    </div>
  </div>
  <!-- /.Team Wrapper -->