
<div class="space140 bg-white"></div>
<div class="divider bg-white">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="fill-light-wrapper bg-white"
    preserveAspectRatio="none"
    viewBox="0 0 1070 20.98"
  >
    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
  </svg>
</div>

<!-- Team Wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h3 class="display-3 text-center">{{page.teams_carousel.title}}</h3>
    <div class="space40"></div>
    <div class="grid-view">{% include teams_carousel.html %}</div>
  </div>
</div>
<!-- /.Team Wrapper -->
